this is the main file,Home,Ok!,
go to /blogpost to see all the post then link on the title of the post to go to that individual post, then back and see all.
<br>
<a href="/blogPost" class="card-link">BlogPost link</a>